<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>guideLeft</key>
	<array>
		<dict>
			<key>title</key>
			<string>重庆概览</string>
			<key>icon</key>
			<string>ic_category_0.png</string>
			<key>id</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>美食</string>
			<key>icon</key>
			<string>ic_category_10.png</string>
			<key>id</key>
			<string>1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>购物</string>
			<key>icon</key>
			<string>ic_category_20.png</string>
			<key>id</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>休闲娱乐</string>
			<key>icon</key>
			<string>ic_category_30.png</string>
			<key>id</key>
			<string>3</string>
		</dict>
		<dict>
			<key>title</key>
			<string>出行旅游</string>
			<key>icon</key>
			<string>ic_category_70.png</string>
			<key>id</key>
			<string>4</string>
		</dict>
		<dict>
			<key>title</key>
			<string>运动健身</string>
			<key>icon</key>
			<string>ic_category_45.png</string>
			<key>id</key>
			<string>5</string>
		</dict>
		<dict>
			<key>title</key>
			<string>酒店</string>
			<key>icon</key>
			<string>ic_category_60.png</string>
			<key>id</key>
			<string>6</string>
		</dict>
		<dict>
			<key>title</key>
			<string>生活服务</string>
			<key>icon</key>
			<string>ic_category_80.png</string>
			<key>id</key>
			<string>7</string>
		</dict>
		<dict>
			<key>title</key>
			<string>丽人</string>
			<key>icon</key>
			<string>ic_category_50.png</string>
			<key>id</key>
			<string>8</string>
		</dict>
		<dict>
			<key>title</key>
			<string>结婚</string>
			<key>icon</key>
			<string>ic_category_55.png</string>
			<key>id</key>
			<string>9</string>
		</dict>
		<dict>
			<key>title</key>
			<string>智能交通</string>
			<key>icon</key>
			<string>ic_category_65.png</string>
			<key>id</key>
			<string>10</string>
		</dict>
	</array>
	<key>guideRight</key>
	<dict>
		<key>0</key>
		<array>
			<string>重庆概览</string>
			<string>重庆wifi使用教程</string>
			<string>重庆特产</string>
			<string>重庆美食介绍</string>
			<string>重庆导购</string>
			<string>重庆购物必读</string>
			<string>购物攻略</string>
			<string>旅游攻略</string>
		</array>
		<key>1</key>
		<array>
			<string>自助餐</string>
			<string>海鲜</string>
			<string>湘菜</string>
			<string>西餐/披萨</string>
			<string>江浙菜</string>
			<string>港澳菜</string>
			<string>日韩菜</string>
			<string>蛋糕/甜点</string>
			<string>川渝菜</string>
			<string>小吃/粥/面/快餐</string>
			<string>火锅</string>
			<string>东北菜</string>
			<string>其他美食</string>
		</array>
		<key>2</key>
		<array>
			<string>综合商场</string>
			<string>食品茶酒</string>
			<string>服装鞋包</string>
			<string>化妆品</string>
			<string>珠宝饰品</string>
			<string>运动户外</string>
			<string>母婴儿童</string>
			<string>数码家电</string>
			<string>家具家居</string>
			<string>书店</string>
			<string>药店</string>
			<string>超市</string>
			<string>更多购物场所</string>
			<string>眼镜店</string>
		</array>
		<key>3</key>
		<array>
			<string>咖啡厅</string>
			<string>酒吧</string>
			<string>茶馆</string>
			<string>KTV</string>
			<string>电影院</string>
			<string>文化艺术</string>
			<string>足疗按摩</string>
			<string>洗浴</string>
			<string>游乐游艺</string>
			<string>台球馆</string>
			<string>桌游</string>
			<string>网吧</string>
			<string>更多休闲娱乐</string>
		</array>
		<key>4</key>
		<array>
			<string>旅行社</string>
			<string>景点/郊游</string>
			<string>公园</string>
			<string>度假村</string>
			<string>寺庙</string>
			<string>老式建筑/故址</string>
			<string>机票</string>
		</array>
		<key>5</key>
		<array>
			<string>健身中心</string>
			<string>游泳馆</string>
			<string>羽毛球馆</string>
			<string>篮球场</string>
			<string>网球场</string>
			<string>足球场</string>
			<string>高尔夫球场</string>
			<string>保龄球场</string>
			<string>乒乓球场</string>
			<string>体育馆</string>
			<string>更多运动场馆</string>
			<string>舞蹈</string>
			<string>瑜伽</string>
		</array>
		<key>6</key>
		<array>
			<string>五星级酒店</string>
			<string>四星级酒店</string>
			<string>三星级酒店</string>
			<string>经济性酒店</string>
			<string>公寓式酒店</string>
			<string>连锁酒店</string>
			<string>更多酒店住宿</string>
		</array>
		<key>7</key>
		<array>
			<string>教育培训</string>
			<string>宠物</string>
			<string>齿科</string>
			<string>快照/快冲</string>
			<string>家政服务</string>
			<string>健康医疗</string>
			<string>学校</string>
			<string>银行</string>
			<string>儿童摄影</string>
			<string>汽车服务</string>
			<string>停车场</string>
			<string>加油站</string>
			<string>政府事业单位</string>
			<string>婚庆</string>
			<string>厕所</string>
			<string>租车</string>
			<string>房产</string>
			<string>装饰装修</string>
			<string>房屋出租</string>
			<string>家电维修</string>
		</array>
		<key>8</key>
		<array>
			<string>美甲</string>
			<string>艺术写真</string>
			<string>美发</string>
			<string>美容SPA</string>
			<string>瘦身纤体</string>
			<string>整形</string>
		</array>
		<key>9</key>
		<array>
			<string>婚纱摄影</string>
			<string>混烟酒店</string>
			<string>婚戒首饰</string>
			<string>婚庆服务</string>
			<string>婚纱租赁</string>
			<string>彩妆造型</string>
			<string>婚礼跟拍</string>
			<string>新娘跟装</string>
			<string>婚庆用品</string>
			<string>婚车租赁</string>
		</array>
		<key>10</key>
		<array>
			<string>4s店</string>
			<string>汽修厂</string>
			<string>美容店</string>
			<string>洗车店</string>
			<string>租车公司</string>
			<string>代驾</string>
			<string>陪练</string>
			<string>驾校</string>
			<string>汽车经济</string>
		</array>
	</dict>
</dict>
</plist>
