<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>首页</key>
	<array>
		<dict>
			<key>title</key>
			<string>重庆HOT+</string>
			<key>icon</key>
			<string>icon_grid_btn_cq_hot.png</string>
			<key>url</key>
			<string>http://cqhot.com</string>
			<key>category</key>
			<string>2</string>
			<key>id</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>玩转重庆</string>
			<key>icon</key>
			<string>icon_grid_btn_cq_paly.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>生活服务</string>
			<key>icon</key>
			<string>icon_grid_btn_living_services.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>时尚网购</string>
			<key>icon</key>
			<string>icon_grid_btn_fashion_online_shopping.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>周边导航</string>
			<key>icon</key>
			<string>icon_grid_btn_jobs_search.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>5</string>
		</dict>
		<dict>
			<key>title</key>
			<string>重庆团购</string>
			<key>icon</key>
			<string>icon_grid_btn_group_buy.png</string>
			<key>url</key>
			<string>http://tuan.cqhot.com/mobi/</string>
			<key>category</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>重庆健康</string>
			<key>icon</key>
			<string>icon_grid_btn_cq_health.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>教育培训</string>
			<key>icon</key>
			<string>icon_grid_btn_education_training.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>智能交通</string>
			<key>icon</key>
			<string>icon_grid_btn_auto_accessories.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>智能生活</string>
			<key>icon</key>
			<string>icon_grid_btn_smart_life.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>政务云</string>
			<key>icon</key>
			<string>icon_grid_btn_politic_cloud.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>3</string>
			<key>id</key>
			<string>197</string>
		</dict>
		<dict>
			<key>title</key>
			<string>商务云</string>
			<key>icon</key>
			<string>icon_grid_btn_business_cloud.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>人在职场</string>
			<key>icon</key>
			<string>icon_grid_btn_sparring.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>解放碑社区</string>
			<key>icon</key>
			<string>icon_grid_btn_jfb_community.png</string>
			<key>url</key>
			<string>http://mt.cqhot.com</string>
			<key>category</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>应用商店</string>
			<key>icon</key>
			<string>icon_grid_btn_app_store.png</string>
			<key>url</key>
			<string>http://app.cqhot.com/wap.php</string>
			<key>category</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>智佳服务</string>
			<key>icon</key>
			<string>icon_grid_btn_zj_service.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>1</string>
		</dict>
	</array>
	<key>玩转重庆</key>
	<array>
		<dict>
			<key>title</key>
			<string>美食</string>
			<key>icon</key>
			<string>icon_grid_btn_gourmet_specialty.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>3</string>
			<key>id</key>
			<string>1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>咖啡茶楼</string>
			<key>icon</key>
			<string>icon_grid_btn_coffee.png</string>
			<key>id</key>
			<string>64</string>
			<key>category</key>
			<string>4</string>
		</dict>
		<dict>
			<key>title</key>
			<string>重庆团购</string>
			<key>icon</key>
			<string>icon_grid_btn_group_buy.png</string>
			<key>url</key>
			<string>http://tuan.cqhot.com/mobi/</string>
			<key>category</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>电影</string>
			<key>icon</key>
			<string>icon_grid_btn_moive.png</string>
			<key>id</key>
			<string>68</string>
			<key>category</key>
			<string>4</string>
		</dict>
		<dict>
			<key>title</key>
			<string>KTV</string>
			<key>icon</key>
			<string>icon_grid_btn_ktv.png</string>
			<key>id</key>
			<string>67</string>
			<key>category</key>
			<string>4</string>
		</dict>
		<dict>
			<key>title</key>
			<string>公共设施</string>
			<key>icon</key>
			<string>icon_grid_btn_public_facilities.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>旅游景点</string>
			<key>icon</key>
			<string>icon_grid_btn_travel.png</string>
			<key>id</key>
			<string>57</string>
			<key>category</key>
			<string>4</string>
		</dict>
		<dict>
			<key>title</key>
			<string>出行线路</string>
			<key>icon</key>
			<string>icon_grid_btn_journey.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>旅游票务</string>
			<key>icon</key>
			<string>icon_grid_btn_travel_ticket.png</string>
			<key>id</key>
			<string>164</string>
			<key>category</key>
			<string>4</string>
		</dict>
		<dict>
			<key>title</key>
			<string>酒店</string>
			<key>icon</key>
			<string>icon_grid_btn_hotel.png</string>
			<key>id</key>
			<string>21</string>
			<key>category</key>
			<string>3</string>
		</dict>
		<dict>
			<key>title</key>
			<string>特色服务</string>
			<key>icon</key>
			<string>icon_grid_btn_feature.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>重庆热榜</string>
			<key>icon</key>
			<string>icon_grid_btn_cq_hot_list.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>0</string>
		</dict>
	</array>
	<key>生活服务</key>
	<array>
		<dict>
			<key>title</key>
			<string>商场超市</string>
			<key>icon</key>
			<string>icon_grid_btn_supermarket.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>75</string>
		</dict>
		<dict>
			<key>title</key>
			<string>数码通信</string>
			<key>icon</key>
			<string>icon_grid_btn_digital.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>82</string>
		</dict>
		<dict>
			<key>title</key>
			<string>折扣快报</string>
			<key>icon</key>
			<string>icon_grid_btn_discount.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>0</string>
			<key>id</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>婚庆服务</string>
			<key>icon</key>
			<string>icon_grid_btn_wedding_services.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>36</string>
		</dict>
		<dict>
			<key>title</key>
			<string>家政服务</string>
			<key>icon</key>
			<string>icon_grid_btn_housekeeping.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>27</string>
		</dict>
		<dict>
			<key>title</key>
			<string>房产</string>
			<key>icon</key>
			<string>icon_grid_btn_estate.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>142</string>
		</dict>
		<dict>
			<key>title</key>
			<string>装饰装修</string>
			<key>icon</key>
			<string>icon_grid_btn_decoration.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>143</string>
		</dict>
		<dict>
			<key>title</key>
			<string>房屋出租</string>
			<key>icon</key>
			<string>icon_grid_btn_rental.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>144</string>
		</dict>
		<dict>
			<key>title</key>
			<string>家电维修</string>
			<key>icon</key>
			<string>icon_grid_btn_appliancez_repair.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>145</string>
		</dict>
		<dict>
			<key>title</key>
			<string>鲜花礼品</string>
			<key>icon</key>
			<string>icon_grid_btn_flowers_gifts.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>181</string>
		</dict>
		<dict>
			<key>title</key>
			<string>摄影</string>
			<key>icon</key>
			<string>icon_grid_btn_photography.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>166</string>
		</dict>
		<dict>
			<key>title</key>
			<string>更多</string>
			<key>icon</key>
			<string>icon_grid_btn_more.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>151</string>
		</dict>
	</array>
	<key>时尚网购</key>
	<array>
		<dict>
			<key>title</key>
			<string>美丽街</string>
			<key>icon</key>
			<string>icon_grid_btn_fashion_online_shopping.png</string>
			<key>url</key>
			<string>http://go.cqhot.com/mobi</string>
			<key>category</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>绅士街</string>
			<key>icon</key>
			<string>icon_grid_btn_gentleman.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>热门团购</string>
			<key>icon</key>
			<string>icon_grid_btn_hot_group_buy.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>折扣快报</string>
			<key>icon</key>
			<string>icon_grid_btn_discount_2.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>特价秒杀</string>
			<key>icon</key>
			<string>icon_grid_btn_special_spike.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>9元包邮</string>
			<key>icon</key>
			<string>icon_grid_btn_9_postal.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>美食特产</string>
			<key>icon</key>
			<string>icon_grid_btn_gourmet_specialty.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>数码通信</string>
			<key>icon</key>
			<string>icon_grid_btn_digtal_2.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>个性定制</string>
			<key>icon</key>
			<string>icon_grid_btn_personalized_custom.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>汽车用品</string>
			<key>icon</key>
			<string>icon_grid_btn_auto_accessories.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>日用百货</string>
			<key>icon</key>
			<string>icon_grid_btn_general_merchandise.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>母婴用品</string>
			<key>icon</key>
			<string>icon_grid_btn_baby_products.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
		</dict>
	</array>
	<key>周边导航</key>
	<array>
		<dict>
			<key>title</key>
			<string>重庆HOT+</string>
			<key>icon</key>
			<string>icon_grid_btn_cq_hot.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
		</dict>
	</array>
	<key>重庆团购</key>
	<array>
		<dict>
			<key>title</key>
			<string>重庆团购</string>
			<key>icon</key>
			<string>icon_grid_btn_zj_service.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
		</dict>
	</array>
	<key>重庆健康</key>
	<array>
		<dict>
			<key>title</key>
			<string>附近医院</string>
			<key>icon</key>
			<string>icon_grid_btn_nearby_hospital.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>28</string>
		</dict>
		<dict>
			<key>title</key>
			<string>附近药店</string>
			<key>icon</key>
			<string>icon_grid_btn_nearby_pharmacy.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>85</string>
		</dict>
		<dict>
			<key>title</key>
			<string>附近健身</string>
			<key>icon</key>
			<string>icon_grid_btn_nearby_fitness.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>3</string>
			<key>id</key>
			<string>20</string>
		</dict>
		<dict>
			<key>title</key>
			<string>附近美容</string>
			<key>icon</key>
			<string>icon_grid_btn_nearby_cosmetology.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>159</string>
		</dict>
		<dict>
			<key>title</key>
			<string>医院推荐</string>
			<key>icon</key>
			<string>icon_grid_btn_hospital_recommend.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>id</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>健康饮食</string>
			<key>icon</key>
			<string>icon_grid_btn_health_diet.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>id</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>健康快报</string>
			<key>icon</key>
			<string>icon_grid_btn_health_letters.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>id</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>咨询医生</string>
			<key>icon</key>
			<string>icon_grid_btn_consult_doctors.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>id</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>名医推荐</string>
			<key>icon</key>
			<string>icon_grid_btn_doctors_recommend.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>id</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>健康提醒</string>
			<key>icon</key>
			<string>icon_grid_btn_health_remind.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>id</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>疾病库</string>
			<key>icon</key>
			<string>icon_grid_btn_diseases_library.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>id</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>医院搜索</string>
			<key>icon</key>
			<string>icon_grid_btn_hospital_search.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
			<key>id</key>
			<string></string>
		</dict>
	</array>
	<key>教育培训</key>
	<array>
		<dict>
			<key>title</key>
			<string>重庆院校</string>
			<key>icon</key>
			<string>icon_grid_btn_cq_institutions.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>29</string>
		</dict>
		<dict>
			<key>title</key>
			<string>学历培训</string>
			<key>icon</key>
			<string>icon_grid_btn_academic_training.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>23</string>
		</dict>
		<dict>
			<key>title</key>
			<string>资格认证</string>
			<key>icon</key>
			<string>icon_grid_btn_qualification.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>206</string>
		</dict>
		<dict>
			<key>title</key>
			<string>出国留学</string>
			<key>icon</key>
			<string>icon_grid_btn_study_abroad.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>207</string>
		</dict>
		<dict>
			<key>title</key>
			<string>早教特教</string>
			<key>icon</key>
			<string>icon_grid_btn_early_childhood_special_education.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>208</string>
		</dict>
		<dict>
			<key>title</key>
			<string>外语培训</string>
			<key>icon</key>
			<string>icon_grid_btn_foreign_language_training.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>209</string>
		</dict>
		<dict>
			<key>title</key>
			<string>职业技能</string>
			<key>icon</key>
			<string>icon_grid_btn_vocational_skills.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>210</string>
		</dict>
		<dict>
			<key>title</key>
			<string>课外辅导</string>
			<key>icon</key>
			<string>icon_grid_btn_after_school_tutoring.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>211</string>
		</dict>
		<dict>
			<key>title</key>
			<string>文艺体育</string>
			<key>icon</key>
			<string>icon_grid_btn_artistic_sports.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>212</string>
		</dict>
		<dict>
			<key>title</key>
			<string>考研考博</string>
			<key>icon</key>
			<string>icon_grid_btn_kaoyankaobo.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>213</string>
		</dict>
		<dict>
			<key>title</key>
			<string>财会金融</string>
			<key>icon</key>
			<string>icon_grid_btn_accounting_finance.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>214</string>
		</dict>
		<dict>
			<key>title</key>
			<string>拓展培训</string>
			<key>icon</key>
			<string>icon_grid_btn_expand_training.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>215</string>
		</dict>
	</array>
	<key>智能交通</key>
	<array>
		<dict>
			<key>title</key>
			<string>4S店</string>
			<key>icon</key>
			<string>icon_grid_btn_4s_shop.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>183</string>
		</dict>
		<dict>
			<key>title</key>
			<string>汽修厂</string>
			<key>icon</key>
			<string>icon_grid_btn_automotive_plant.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>184</string>
		</dict>
		<dict>
			<key>title</key>
			<string>美容店</string>
			<key>icon</key>
			<string>icon_grid_btn_beauty_shop.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>185</string>
		</dict>
		<dict>
			<key>title</key>
			<string>洗车店</string>
			<key>icon</key>
			<string>icon_grid_btn_car_wash_shop.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>186</string>
		</dict>
		<dict>
			<key>title</key>
			<string>加油站</string>
			<key>icon</key>
			<string>icon_grid_btn_gas_station.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>34</string>
		</dict>
		<dict>
			<key>title</key>
			<string>停车场</string>
			<key>icon</key>
			<string>icon_grid_btn_parking_lot.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>33</string>
		</dict>
		<dict>
			<key>title</key>
			<string>租车公司</string>
			<key>icon</key>
			<string>icon_grid_btn_car_rental_company.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>187</string>
		</dict>
		<dict>
			<key>title</key>
			<string>代驾</string>
			<key>icon</key>
			<string>icon_grid_btn_chauffeur.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>188</string>
		</dict>
		<dict>
			<key>title</key>
			<string>陪练</string>
			<key>icon</key>
			<string>icon_grid_btn_sparring.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>189</string>
		</dict>
		<dict>
			<key>title</key>
			<string>驾校</string>
			<key>icon</key>
			<string>icon_grid_btn_driving.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>190</string>
		</dict>
		<dict>
			<key>title</key>
			<string>汽车经济</string>
			<key>icon</key>
			<string>icon_grid_btn_automotive_economy.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>191</string>
		</dict>
		<dict>
			<key>title</key>
			<string>二手车</string>
			<key>icon</key>
			<string>icon_grid_btn_used_car.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>4</string>
			<key>id</key>
			<string>192</string>
		</dict>
	</array>
	<key>智能生活</key>
	<array>
		<dict>
			<key>title</key>
			<string>重庆HOT+</string>
			<key>icon</key>
			<string>icon_grid_btn_cq_hot.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
		</dict>
	</array>
	<key>政务云</key>
	<array>
		<dict>
			<key>title</key>
			<string>重庆HOT+</string>
			<key>icon</key>
			<string>icon_grid_btn_cq_hot.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
		</dict>
	</array>
	<key>商务云</key>
	<array>
		<dict>
			<key>title</key>
			<string>智佳服务</string>
			<key>icon</key>
			<string>icon_grid_btn_zj_service.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
		</dict>
	</array>
	<key>人在职场</key>
	<array>
		<dict>
			<key>title</key>
			<string>职位搜索</string>
			<key>icon</key>
			<string>icon_grid_btn_jobs_search.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>校园招聘</string>
			<key>icon</key>
			<string>icon_grid_btn_campus_recruitment.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>名企招聘</string>
			<key>icon</key>
			<string>icon_grid_btn_famous_enterprises_recruitment.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>职场资讯</string>
			<key>icon</key>
			<string>icon_grid_btn_careerbuilder.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>职场指南</string>
			<key>icon</key>
			<string>icon_grid_btn_workplace_guide.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>申请记录</string>
			<key>icon</key>
			<string>icon_grid_btn_application_record.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>职位收藏</string>
			<key>icon</key>
			<string>icon_grid_btn_jobs_favorites.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>简历指导</string>
			<key>icon</key>
			<string>icon_grid_btn_resume_guidance.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>面试技巧</string>
			<key>icon</key>
			<string>icon_grid_btn_interview_skills.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>跳槽攻略</string>
			<key>icon</key>
			<string>icon_grid_btn_quit_raiders.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>招聘会</string>
			<key>icon</key>
			<string>icon_grid_btn_job_fairs.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>招聘订阅</string>
			<key>icon</key>
			<string>icon_grid_btn_recruitment_subscribe.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>0</string>
		</dict>
	</array>
	<key>解放碑社区</key>
	<array>
		<dict>
			<key>title</key>
			<string>重庆HOT+</string>
			<key>icon</key>
			<string>icon_grid_btn_cq_hot.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
		</dict>
	</array>
	<key>应用商店</key>
	<array>
		<dict>
			<key>title</key>
			<string>智佳服务</string>
			<key>icon</key>
			<string>icon_grid_btn_zj_service.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string></string>
		</dict>
	</array>
	<key>智佳服务</key>
	<array>
		<dict>
			<key>title</key>
			<string>App开发</string>
			<key>icon</key>
			<string>icon_grid_btn_app_dev.png</string>
			<key>url</key>
			<string></string>
			<key>category</key>
			<string>0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>域名注册</string>
			<key>icon</key>
			<string>icon_grid_btn_domain_name_registration.png</string>
			<key>url</key>
			<string>http://cq.cqhot.com/news/domain.html</string>
			<key>category</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>网站备案</string>
			<key>icon</key>
			<string>icon_grid_btn_website_record.png</string>
			<key>url</key>
			<string>http://cq.cqhot.com/news/beian.html</string>
			<key>category</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>微博营销</string>
			<key>icon</key>
			<string>icon_grid_btn_weibo_marketing.png</string>
			<key>url</key>
			<string>http://cq.cqhot.com/news/weibo.html</string>
			<key>category</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>互联网调查</string>
			<key>icon</key>
			<string>icon_grid_btn_internet_survey.png</string>
			<key>url</key>
			<string>http://cq.cqhot.com/news/diaocha.html</string>
			<key>category</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>网站建设</string>
			<key>icon</key>
			<string>icon_grid_btn_website_construction.png</string>
			<key>url</key>
			<string>http://cq.cqhot.com/news/website.html</string>
			<key>category</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>谷歌推广</string>
			<key>icon</key>
			<string>icon_grid_btn_google_promotion.png</string>
			<key>url</key>
			<string>http://cq.cqhot.com/news/google.html</string>
			<key>category</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>搜狗推广</string>
			<key>icon</key>
			<string>icon_grid_btn_sogou_promotion.png</string>
			<key>url</key>
			<string>http://cq.cqhot.com/news/sogou.html</string>
			<key>category</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>网址推广</string>
			<key>icon</key>
			<string>icon_grid_btn_website_promotion.png</string>
			<key>url</key>
			<string>http://cq.cqhot.com/news/wangzhi.html</string>
			<key>category</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>虚拟主机</string>
			<key>icon</key>
			<string>icon_grid_btn_virtual_host.png</string>
			<key>url</key>
			<string>http://cq.cqhot.com/news/zhuji.html</string>
			<key>category</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>服务器托管</string>
			<key>icon</key>
			<string>icon_grid_btn_server_hosting.png</string>
			<key>url</key>
			<string>http://cq.cqhot.com/news/fuwuqi.html</string>
			<key>category</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>更多</string>
			<key>icon</key>
			<string>icon_grid_btn_more_2.png</string>
			<key>url</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
